.tindercontainer-container{
    display: flex;
    justify-content: center;
}

.active{
    background-color: black;
    color: white;
    padding: 20px;
    padding-top: 10px;
    width: 80px;
    font-weight: bold;
    font-size: 18px;
}

.inactive{
    padding: 20px;
    padding-top: 10px;
    width: 80px;
    font-weight: bold;
    font-size: 18px;
}