.favoritecard-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-end
}

.favoritecard-container img{
    width: 250px;
    height: 250px;
}

.favoritecard-container-button{
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    padding: 0.75em;
    background-color: red;
    color: white;
    position: absolute;
    font-weight: bold;
    border-color: transparent;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    margin-left: -10px;
    margin-top: 10px;
}