.tinderfavorites-container{
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.tinderfavorites-container h1{
    text-align: left;
    font-weight: bold;
    font-size: 3em;
}