/* Make img responsive */
.tindercard-container{
    width: 500px;
    height: 600px;
    box-shadow: 5px 5px 8px 7px lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.tindercard-container img{
    width: 450px;
    height: 550px;
    margin-top: 25px;
}

.tindercard-container-button{
    border-radius: 50%;
    width: 5em;
    height: 5em;
    text-align: center;
    padding-top: 0.75em;
    border: 2px solid lightgray;
}

.tindercard-container-loading{
    width: 500px;
    height: 600px;
    box-shadow: 5px 5px 8px 7px lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.tindercard-container-loading img{
  width: 450px;
  height: 550px;
  margin-top: 25px;
  opacity: 0.5
}

.button-container{
    display: flex;
    justify-content: center
}

button:last-child{
  margin-left:15px;
}